#footer {   
  position: absolute;
  width: 100%;
  margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 11px;
	bottom: 5px;
}

footer hr {
	margin-top: 20px;
 	margin-bottom: 5px;
}

i.favorite:hover {
  color: #FF0000;
  cursor: pointer;
}

i.delete:hover {
  color: #AA0000;
  cursor: pointer;
}